*{
padding: 0;
margin: 0;
}
.App {
  text-align: center;
}

.form-container{
  height: 100px;
  padding: 30px;
  background-color: red;
}

.form-container form{
  width: 100%;
  height: 90%;
  background-color: yellow;
}

.form-container form input{
  width: 80%;
  height: 40%;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid blue;
  outline: none;
  border-radius: 10px;
}

.form-container form button{
  width: 100px;
  height: 40px;
  /* padding: 10px; */
  margin-left: 1rem;
  border: 2px solid black;
  background-color: brown;
  color: white  ;
  font-size: 1.5rem;
  border-radius: 5px;
}

.form-container form button:hover{
  background-color: lightcoral;
  color: black;
}

.list-container{
  height: auto;
  background-color: brown;
  padding: 20px;
}
.list-container ul{
  list-style: none;
  width: 90%;
  height: auto;
  background-color: yellow;
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  flex-direction: column;
  margin: 5px;
  /* background-color: red; */
}




